<!DOCTYPE html>
<html lang="en">


<h1> HEADER TITLE </h1>
  <ul>
  <% if (user) { %>
    <li>Username: <%= user.email %>
    <form action="/logout" method="POST">
      <input type="submit" value="Logout">
    </form></li>
  <% } else { %>
    <li><a href="login"> Login </a></li>
    <li><a href="register"> Register </a></li>
  <% } %>
  </ul>