<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
  <header>
    <% include ./partials/_header %>
  </header>

    <ul>
      <% for (var key in urls) { %>
        <% if (urls.hasOwnProperty(key)) { %>
          <li><%= key + " -> " + urls[key].longURL; %>
            <a href="urls/<%= key %>"> Edit </a>
              <form method="POST" action="/urls/<%= key; %>/delete">...
                <input type="submit" value="Delete">
              </form>
          </li>
        <%  } %>
      <% } %>
    </ul>
    <ul>
      <form method="GET" action="/urls/new">...
        <input type="submit" value="Add New">
      </form>
      <!-- <li><a href="shorten"> Shorten </a></li> -->
    </ul>
</body>
</html>