<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
  <header>
        <% include partials/_header %>
    </header>
  <ul>
    <% for (var key in urls) { %>
         <% if (urls.hasOwnProperty(key)) { %>
           <li><%= key + " -> " + urls[key]; %></li>
        <%  } %>
       <% } %>


  </ul>
    <a href="shorten"> shorten url</a>



</body>
</html>